
UselessTools/RecordTool/RecordTool.VC.db
*.pdb
*.ipdb
*.tlog
*.idb
*.opendb
*.log
*.dll
*.ilk
*.exp
*.iobj
UselessTools/ToolsAPI/.vs/ToolsAPI/v14/.suo
*.user
UselessTools/RecordTool/.vs/RecordTool/v14/.suo
*.filters
*.filters
*.obj
UselessTools/ToolsAPI/.vs/ToolsAPI/v14/.suo
